<div class="modal fade" id="editCategory<%=c.id%>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%=t "admin.categories.create_title"%></h4>
      </div>
      <div class="modal-body">
        <div class = "container">
          <%= form_for(c, url: admin_categories_path) do |form| %>
            <%= render  "form", c: c, form: form %>
          <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%=t "admin.categories.close"%></button>
      </div>
    </div>
  </div>
</div>
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
  };
</script>
